/* Reutilizando os estilos do LOGIN*/
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: #fbf8f4;
  position: relative;
}

/* Área dedicada à imagem no lado direito */
.container-imagem {
  position: absolute;
  width: 62%;
  height: 100vh;
  overflow: hidden;
}

/* Configuração da imagem principal para preencher o espaço adequadamente */
.imagem-fundo {
  background-image: url(src/assets/imagemPrincipal.png);
  background-size: contain;
  background-position: center;
  transform: translate(-50%, -50%);
}

.secao-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38%;
}

.campo-entrada {
  background: #efefef;
  transition: all 0.3s ease-out;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.campo-entrada:hover,
.campo-entrada:focus {
  transform: scale(1.05);
}

/* Botão com efeito de hover */
.botao-setinha {
  background-color: transparent;
  transition: all 0.3s ease;
}

.botao-setinha:hover {
  transform: scale(1.1);
}

/* Links com sublinhado animado */
.link-autenticacao::after {
  transition: width 0.3s ease;
}

/* Estilos responsivos além dos do login */
@media screen and (max-width: 1146px) {
  .secao-login {
    width: 100vw;
  }
}

@media screen and (max-width: 425px) {
  .card-login {
    width: 90%;
  }
}
